/* phpcs:disable */
.tab-wrapper-paragraph {
  .tab-wrapper-paragraph__items {
    background-color: hsl(0 100% 100%);
    display: grid;
    grid-template-columns: 1fr;

    .tab-wrapper-paragraph__tabs {
      .tab-wrapper-paragraph__tab-link {
        align-items: center;
        border: 1px solid hsl(12 10.2% 90.39%);
        display: flex;
        font-size: 1.125rem;
        justify-content: space-between;
        line-height: 130%;
        padding: 1rem;
        text-decoration: none;
        &:focus,
        &:hover,
        &:active {
          box-shadow: 0 2px 3px hsl(0 0 0 / 0.25);
        }
        &:first-of-type {
          border-top: none;
        }
      }

      .tab-wrapper-paragraph__tab-content {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: opacity 500ms, visibility 500ms, max-height 500ms;
        visibility: hidden;
      }

    }
  }
}
